<nav class="navbar navbar-light" style="background-color:#fff">
    <div class="container-fluid">
      <span class="navbar-text">
        <marquee style="width:100rem">
          <p style="display:inline-block;" class="h5 ml-5">₿ = {{usd_btc|floatformat:"-2"}}$</p>
          <p style="display:inline-block;" class="h5 ml-5">ETH = {{usd_eth|floatformat:"-2"}}$</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_eur|floatformat:"-2"}}€</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_pound|floatformat:"-2"}}£</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_cad|floatformat:"-2"}}C$</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_sgd|floatformat:"-2"}}S$</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_sek|floatformat:"-2"}}kr</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_bgn|floatformat:"-2"}}Лв</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_try|floatformat:"-2"}}₺</p>
          <p style="display:inline-block;" class="h5 ml-5">1$ = {{usd_pln|floatformat:"-2"}}zł</p>
        </marquee>
      </span>
    </div>
</nav>