{% extends 'base.html' %}
{% block title %}News from {{topic.topic_name}}{% endblock %}
{% block content %}
{% include "partials/_navbar_default.html" %}
<div class="container mt-3">
    {% for news in list_news %}
        <div class="row mt-4" style="border-top:1px solid black;border-bottom:1px black solid">
                <div class="col-sm-9 mt-2">
                    <a class="text-dark text-decoration-none" href="{% url 'news_details' news.slug %}"><p class="h3">{{news.title}}</p>  </a>
                    <p class="h6">{{news.subtitle}}</p>
                    <p class="text-muted">Added Date: {{news.date|date:"d.m.y |  G:i"}}</p>
                </div>
                <div class="col-sm-2 mt-2">
                    <img style="width:350px;padding:10px" class="rounded" src="{{news.image.url}}" alt="">
                </div>
        </div>
    {% endfor %}
</div>
{% include "partials/_footer.html" %}
{% endblock %}